@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Sree+Krushnadevaraya&display=swap");
@import url("https://fonts.googleapis.com/css?family=Catamaran&display=swap");

:root {
    --margin: 110px;
    --background: #e2e2f5;
    --perspective: 1800px;
    --transition: transform 1s 0.2s, z-index 0s 0.5s;
    --yellow: #ffce14;
}

body .pages_page {
    width: 50%;
    position: absolute;
    right: 0px;
    height: 100%;
    transform-origin: 0 50%;
}

* {
    box-sizing: border-box;
}

/* .overlay {
    background: rgba(255, 155, 0, 0.7019607843);
    position: fixed;
    width: 100%;
    pointer-events: none;
    height: 100%;
    z-index: -1;
} */

body {
    margin: 0;
    padding: 0;
    background: var(--background);
    height: 100vh;
    overflow-x: hidden;
    font-family: "Sree Krushnadevaraya", serif;
    transition: width 0.3s ease;
    transition: height 0.3s ease;
}

body .logo {
    font-size: 20px;
    padding: 33px 30px 30px 30px;
    line-height: 0;
    color: var(--yellow);
}

body .pagenumber {
    position: absolute;
    bottom: 20px;
    left: 34px;
    width: 400px;
    color: var(--yellow);
    color: #f2a92b;
    letter-spacing: 60px;
}

body .pagenumber:after {
    height: 1px;
    width: 100px;
    background: var(--yellow);
    background: #dc971e;
    content: "";
    display: block;
    position: absolute;
    left: 20px;
    top: 19px;
}

body .hamburger {
    position: absolute;
    top: 38px;
    height: 20px;
    width: 30px;
    right: 30px;
    z-index: 1;
}

body .hamburger_part {
    width: 20px;
    height: 1px;
    position: absolute;
    right: 0;
    background: var(--yellow);
}

body .hamburger_part:nth-of-type(1) {
    top: 0px;
}

body .hamburger_part:nth-of-type(2) {
    top: 4.5px;
}

body .hamburger_part:nth-of-type(3) {
    top: 9px;
}

body .hamburger_part:last-child {
    width: 8px;
}

body .pages {
    width: calc(100% - var(--margin));
    height: calc(100% - var(--margin));
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    perspective: var(--perspective);
    box-shadow: 0 41px 38px -20px #0a3150;
    max-width: 1300px;
    max-height: 650px;

}

body .pages input {
    display: none;
}

body .pages input:nth-of-type(3):checked+input+div+div+div+div+div .pagenumber,
body .pages input:nth-of-type(3):checked+input+div+div+div+div+div+div .pagenumber {
    letter-spacing: 59px;
    transition: all 0.8s 0.7s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(3):checked+input+div+div+div+div+div .pagenumber:after,
body .pages input:nth-of-type(3):checked+input+div+div+div+div+div+div .pagenumber:after {
    width: 100px;
    transition: all 1s 0.7s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(3):checked+input+div+div+div+div+div .content_centerimage,
body .pages input:nth-of-type(3):checked+input+div+div+div+div+div+div .content_centerimage {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: all 0.8s 0.5s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(3):checked+input+div+div+div+div+div .content h4,
body .pages input:nth-of-type(3):checked+input+div+div+div+div+div .content h6,
body .pages input:nth-of-type(3):checked+input+div+div+div+div+div+div .content h4,
body .pages input:nth-of-type(3):checked+input+div+div+div+div+div+div .content h6 {
    transition: all 1.5s 0.4s cubic-bezier(0.6, 0.045, 0.165, 1);
    transform: translateZ(0);
}

body .pages input:nth-of-type(3):not(checked)+input+div+div+div+div+div .pagenumber,
body .pages input:nth-of-type(3):not(:checked)+input+div+div+div+div+div+div .pagenumber {
    letter-spacing: 0;
    transition: all 0.5s 0.2s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(3):not(checked)+input+div+div+div+div+div .pagenumber:after,
body .pages input:nth-of-type(3):not(:checked)+input+div+div+div+div+div+div .pagenumber:after {
    width: 0px;
    transition: all 0.5s 0.2s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(3):not(checked)+input+div+div+div+div+div .content_centerimage,
body .pages input:nth-of-type(3):not(:checked)+input+div+div+div+div+div+div .content_centerimage {
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: all 0.8s 0s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(3):not(checked)+input+div+div+div+div+div .content h4,
body .pages input:nth-of-type(3):not(checked)+input+div+div+div+div+div .content h6,
body .pages input:nth-of-type(3):not(:checked)+input+div+div+div+div+div+div .content h4,
body .pages input:nth-of-type(3):not(:checked)+input+div+div+div+div+div+div .content h6 {
    transition: all 1.5s 0.4s cubic-bezier(0.6, 0.045, 0.165, 1);
    transform: translateZ(200px);
}

body .pages input:nth-of-type(4):checked+div+div+div+div+div+div+div .pagenumber,
body .pages input:nth-of-type(4):checked+div+div+div+div+div+div+div+div .pagenumber {
    letter-spacing: 59px;
    transition: all 0.8s 0.7s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(4):checked+div+div+div+div+div+div+div .pagenumber:after,
body .pages input:nth-of-type(4):checked+div+div+div+div+div+div+div+div .pagenumber:after {
    width: 100px;
    transition: all 1s 0.7s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(4):checked+div+div+div+div+div+div+div .content_section,
body .pages input:nth-of-type(4):checked+div+div+div+div+div+div+div+div .content_section {
    transition: all 0.8s 0.7s cubic-bezier(0.6, 0.045, 0.165, 1);
    filter: blur(0);
    opacity: 1;
}

body .pages input:nth-of-type(4):checked+div+div+div+div+div+div+div .content_section:nth-of-type(1),
body .pages input:nth-of-type(4):checked+div+div+div+div+div+div+div+div .content_section:nth-of-type(1) {
    left: 100px;
    transition: all 0.8s 0.3s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(4):checked+div+div+div+div+div+div+div .content_section:nth-of-type(2),
body .pages input:nth-of-type(4):checked+div+div+div+div+div+div+div+div .content_section:nth-of-type(2) {
    left: 230px;
    transition: all 0.8s 0.4s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(4):checked+div+div+div+div+div+div+div .content_section:nth-of-type(3),
body .pages input:nth-of-type(4):checked+div+div+div+div+div+div+div+div .content_section:nth-of-type(3) {
    left: 130px;
    transition: all 0.8s 0.5s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(4):not(checked)+div+div+div+div+div+div+div .pagenumber,
body .pages input:nth-of-type(4):not(:checked)+div+div+div+div+div+div+div+div .pagenumber {
    letter-spacing: 0;
    transition: all 0.5s 0.2s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(4):not(checked)+div+div+div+div+div+div+div .pagenumber:after,
body .pages input:nth-of-type(4):not(:checked)+div+div+div+div+div+div+div+div .pagenumber:after {
    width: 0px;
    transition: all 0.5s 0.2s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(4):not(checked)+div+div+div+div+div+div+div .content_section,
body .pages input:nth-of-type(4):not(:checked)+div+div+div+div+div+div+div+div .content_section {
    filter: blur(20px);
    transition: all 0.8s 0.5s cubic-bezier(0.6, 0.045, 0.165, 1);
    opacity: 0;
}

body .pages input:nth-of-type(4):not(checked)+div+div+div+div+div+div+div .content_section:nth-of-type(1),
body .pages input:nth-of-type(4):not(:checked)+div+div+div+div+div+div+div+div .content_section:nth-of-type(1) {
    left: 0;
}

body .pages input:nth-of-type(4):not(checked)+div+div+div+div+div+div+div .content_section:nth-of-type(2),
body .pages input:nth-of-type(4):not(:checked)+div+div+div+div+div+div+div+div .content_section:nth-of-type(2) {
    left: 0;
}

body .pages input:nth-of-type(4):not(checked)+div+div+div+div+div+div+div .content_section:nth-of-type(3),
body .pages input:nth-of-type(4):not(:checked)+div+div+div+div+div+div+div+div .content_section:nth-of-type(3) {
    left: 0;
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div h5 span,
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div h5 span {
    transition: all 1.5s 0.4s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div h5 span:nth-of-type(1),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div h5 span:nth-of-type(1) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div h5 span:nth-of-type(2),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div h5 span:nth-of-type(2) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div h5 span:nth-of-type(3),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div h5 span:nth-of-type(3) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div h5 span:nth-of-type(4),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div h5 span:nth-of-type(4) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div h5 span:nth-of-type(5),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div h5 span:nth-of-type(5) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div h5 span:nth-of-type(6),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div h5 span:nth-of-type(6) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .pagenumber,
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .pagenumber {
    letter-spacing: 59px;
    transition: all 0.8s 0.7s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .pagenumber:after,
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .pagenumber:after {
    width: 100px;
    transition: all 1s 0.7s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content,
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content {
    filter: blur(0px);
    opacity: 1;
    transition: all 1s 0.5s;
    perspective: var(--perspective);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content_picture,
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content_picture {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: all 1s 0.8s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span,
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span {
    transition: all 1.5s 0.4s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(1),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(1) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(2),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(2) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(3),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(3) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(4),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(4) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(5),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(5) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(6),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(6) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(7),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(7) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(8),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(8) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(9),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(9) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(10),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(10) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(11),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(11) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(12),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(12) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(13),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(13) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(14),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(14) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(15),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(15) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(16),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(16) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(17),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(17) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(18),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(18) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(19),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(19) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(20),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(20) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(21),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(21) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(22),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(22) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(23),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(23) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(24),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(24) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(25),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(25) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(26),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(26) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(27),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(27) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(28),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(28) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(29),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(29) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(30),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(30) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(31),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(31) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(32),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(32) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(33),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(33) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(34),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(34) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(35),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(35) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(36),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(36) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(37),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(37) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(38),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(38) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(39),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(39) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content h1 span:nth-of-type(40),
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content h1 span:nth-of-type(40) {
    transform: translateZ(0);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div h5 span,
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div h5 span {
    transition: all 1.5s 0.4s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div h5 span:nth-of-type(1),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div h5 span:nth-of-type(1) {
    transform: translateZ(523px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div h5 span:nth-of-type(2),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div h5 span:nth-of-type(2) {
    transform: translateZ(322px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div h5 span:nth-of-type(3),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div h5 span:nth-of-type(3) {
    transform: translateZ(440px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div h5 span:nth-of-type(4),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div h5 span:nth-of-type(4) {
    transform: translateZ(574px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div h5 span:nth-of-type(5),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div h5 span:nth-of-type(5) {
    transform: translateZ(270px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div h5 span:nth-of-type(6),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div h5 span:nth-of-type(6) {
    transform: translateZ(593px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .pagenumber,
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .pagenumber {
    letter-spacing: 0;
    transition: all 0.5s 0.2s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .pagenumber:after,
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .pagenumber:after {
    width: 0px;
    transition: all 0.5s 0.2s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content,
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content {
    filter: blur(10px);
    opacity: 0;
    transform: translateZ(50px);
    transition: all 1s 0.2s;
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content_picture,
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content_picture {
    transition: all 0.4s 0s cubic-bezier(0.6, 0.045, 0.165, 1);
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span,
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span {
    transition: all 1.5s 0s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(1),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(1) {
    transform: translateZ(529px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(2),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(2) {
    transform: translateZ(325px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(3),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(3) {
    transform: translateZ(426px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(4),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(4) {
    transform: translateZ(759px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(5),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(5) {
    transform: translateZ(498px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(6),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(6) {
    transform: translateZ(567px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(7),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(7) {
    transform: translateZ(343px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(8),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(8) {
    transform: translateZ(592px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(9),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(9) {
    transform: translateZ(626px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(10),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(10) {
    transform: translateZ(569px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(11),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(11) {
    transform: translateZ(428px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(12),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(12) {
    transform: translateZ(680px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(13),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(13) {
    transform: translateZ(482px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(14),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(14) {
    transform: translateZ(529px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(15),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(15) {
    transform: translateZ(745px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(16),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(16) {
    transform: translateZ(671px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(17),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(17) {
    transform: translateZ(354px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(18),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(18) {
    transform: translateZ(349px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(19),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(19) {
    transform: translateZ(187px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(20),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(20) {
    transform: translateZ(686px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(21),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(21) {
    transform: translateZ(577px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(22),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(22) {
    transform: translateZ(725px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(23),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(23) {
    transform: translateZ(351px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(24),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(24) {
    transform: translateZ(323px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(25),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(25) {
    transform: translateZ(510px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(26),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(26) {
    transform: translateZ(631px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(27),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(27) {
    transform: translateZ(398px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(28),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(28) {
    transform: translateZ(682px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(29),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(29) {
    transform: translateZ(768px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(30),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(30) {
    transform: translateZ(198px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(31),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(31) {
    transform: translateZ(712px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(32),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(32) {
    transform: translateZ(377px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(33),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(33) {
    transform: translateZ(519px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(34),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(34) {
    transform: translateZ(585px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(35),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(35) {
    transform: translateZ(171px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(36),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(36) {
    transform: translateZ(417px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(37),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(37) {
    transform: translateZ(638px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(38),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(38) {
    transform: translateZ(579px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(39),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(39) {
    transform: translateZ(769px);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content h1 span:nth-of-type(40),
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content h1 span:nth-of-type(40) {
    transform: translateZ(519px);
}

body .pages_page {
    pointer-events: none;
    float: right;
    transform-style: preserve-3d;
}

body .pages_page:nth-of-type(1) {
    z-index: 7;
    transition: var(--transition);
}

body .pages_page:nth-of-type(2) {
    z-index: 6;
    transition: var(--transition);
}

body .pages_page:nth-of-type(3) {
    z-index: 5;
    transition: var(--transition);
}

body .pages_page:nth-of-type(4) {
    z-index: 4;
    transition: var(--transition);
}

body .pages_page:nth-of-type(5) {
    z-index: 3;
    transition: var(--transition);
}

body .pages_page:nth-of-type(6) {
    z-index: 2;
    transition: var(--transition);
}

body .pages_page:nth-of-type(7) {
    z-index: 1;
    transition: var(--transition);
}

body .pages_page:nth-of-type(8) {
    z-index: 0;
    transition: var(--transition);
}

body .pages_page:nth-of-type(1) {
    left: 0;
    z-index: 0;
    transform: rotateY(0deg) !important;
    pointer-events: none;
}

body .pages_page:nth-of-type(1) .pages_page__inner {
    transform: rotateY(0deg) !important;
}

body .pages_page:nth-of-type(2) {
    pointer-events: all;
}

body .pages_page:nth-of-type(odd) .pages_page__inner {
    transform: rotateY(180deg);
}

body .pages_page:nth-of-type(1) .pages_page__inner {
    max-width: 100%;
    max-height: 100%;
    /* background-size: 31rem !important; */

    background-size: cover;
    /* background-size: 31rem !important; */
    background-repeat: no-repeat !important;
    /* cover the whole page with image*/

    background-position: 0% 10% !important;
    background: url("./image/yagoo.jpg");

}

/* @media screen and (max-width: 1280px) and (max-height:672px) {
    body .pages_page:nth-of-type(1) .pages_page__inner {
        background: url("./image/yagoo.jpg");
    }
} */


body .pages_page:nth-of-type(2) .pages_page__inner {
    background-size: 44rem !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-color: #4a5f5c;
    /* background: url("./image/lace.png"); */
    /* background-color: rgb(255, 0, 0); */
    /* background: url("https://data.whicdn.com/images/86911589/original.jpg"); */
}

body .pages_page:nth-of-type(2) .pages_page__inner h4 {
    color: black;
    z-index: 3;
}

body .pages_page:nth-of-type(3) .pages_page__inner {
    background: url("./image/AllJP.jpg"), #4a5f5c;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20%;
    z-index: -1;
}


@media screen and (max-width: 1280px) and (max-height:672px) {
    body .pages_page:nth-of-type(3) .pages_page__inner {
        background-size: 38.5rem !important;
    }
}

/* body .pages_page:nth-of-type(3) .pages_page__inner .content {
    -webkit-clip-path: polygon(0% 0%, 50% 0, 50% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 50% 0, 50% 100%, 0% 100%);
    height: 100%;
    transform-style: preserve-3d;
    width: 200%;
    position: absolute;
} */

body .pages_page:nth-of-type(6) .pages_page__inner {
    background: #4a5f5c;
}

body .pages_page:nth-of-type(4) .pages_page__inner .content {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 0%);
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%);
    height: 100%;
    width: 200%;
    position: absolute;
    left: -100%;
    background-color: #4a5f5c;
}

/* move image to 5 and 6 page */
body .pages_page:nth-of-type(5) .pages_page__inner .content {
    -webkit-clip-path: polygon(0% 0%, 50% 0, 50% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 50% 0, 50% 100%, 0% 100%);
    height: 100%;
    transform-style: preserve-3d;
    width: 200%;
    position: absolute;
}

body .pages_page:nth-of-type(6) .pages_page__inner .content {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 0%);
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%);
    height: 100%;
    width: 200%;
    position: absolute;
    left: -100%;
}

/* --------------------------- */

body .pages_page:nth-of-type(5) .pages_page__inner .bg {

    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%);
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%);
    height: 100%;
    width: 200%;
    position: absolute;
    /* background: url("./image/EN_Gen2.png"); */
    background-size: 39.5rem !important;
    background-position: right !important;
    background-repeat: no-repeat !important;
    left: -100%;
    border-radius: 20%;
}

body .pages_page:nth-of-type(5) .pages_page__inner {
    /* background-color: red; */
    background: url("./image/EN_Gen0.png");

    background-size: 39em !important;
    background-repeat: no-repeat;
    background-position: center !important;

    /* border-radius: 25%; */
}

body .pages_page:nth-of-type(7) .pages_page__inner {
    background-color: #4a5f5c;
    /* background: url("http://ruthrose.co.uk/wp-content/uploads/2018/04/lingerie-fashion-photographer-photography-shoot-fitness-swimwear-shoot180317_POCKET9661-f1.jpg"); */
    background-position: 0 0;
    background-size: 1400px !important;
}

body .pages_page:nth-of-type(7) .pages_page__inner .content_section {
    position: absolute;
}

/* body .pages_page:nth-of-type(7) .pages_page__inner .content_section h2 {
    margin: 0;
} */

body .pages_page:nth-of-type(7) .pages_page__inner .content_section h2,
body .pages_page:nth-of-type(7) .pages_page__inner .content_section p {
    margin: 0;
    color: var(--yellow);
}

/* body .pages_page:nth-of-type(7) .pages_page__inner .content_section p {
    line-height: 1em;
    opacity: 0.95;
    font-size: 1.5em;
} */

/* body .pages_page:nth-of-type(7) .pages_page__inner .content_section:nth-of-type(1) {
    top: 4em;
    width: 5em;
} */

/* body .pages_page:nth-of-type(7) .pages_page__inner .content_section:nth-of-type(2) {
    top: 274px;
    width: 300px;
} */

body .pages_page:nth-of-type(7) .pages_page__inner .content_section:nth-of-type(3) {
    /* top: 410px; */
    width: 29em;

}

body .pages_page:nth-of-type(8) .pages_page__inner {
    /* background: url("./image/yagoo.jpg"); */
    background-position: 0 0;
}

body .pages_page:nth-of-type(8) .pages_page__inner .content {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%);
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%);
    height: 100%;
    width: 200%;
    position: absolute;
    left: -100%;
}

body .pages_page:nth-of-type(8) .pages_page__inner .bg {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%);
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%);
    height: 100%;
    width: 200%;
    position: relative;
    background: url("./image/ID_12.png");
    /* background: url("http://ruthrose.co.uk/wp-content/uploads/2018/04/lingerie-fashion-photographer-photography-shoot-fitness-swimwear-shoot180317_POCKET9661-f1.jpg"); */
    background-size: 39em !important;
    background-position: right !important;
    margin-left: 1em;
    /* margin-right:-em; */
    /* overflow-x: hidden; */
    background-repeat: no-repeat;
    left: -103%;
    border-radius: 15%;
}

body .pages_page__inner {
    background-color: white;
    background-size: 100% !important;
    height: 100%;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: hidden;
}

body .pages_page__inner .control {
    position: absolute;
    z-index: 5;
    width: 31px;
    height: 31px;
    border: 1px solid var(--yellow);
    border-radius: 100px;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    cursor: pointer;
    transition: all 0.23s;
    box-shadow: 0 0 0 0px #bf9726;
}

body .pages_page__inner .control:hover {
    box-shadow: 0 0 0 10px rgba(191, 151, 38, 0.3);
    left: 34px;
}

body .pages_page__inner .control:hover:before {
    width: 40px;
    left: -40px;
}

body .pages_page__inner .control.next {
    left: auto;
    right: 30px;
}

body .pages_page__inner .control.next:hover {
    right: 34px;
}

body .pages_page__inner .control.next:hover:before {
    width: 40px;
    right: -40px;
}

body .pages_page__inner .control.next:before {
    left: auto;
    right: -33px;
}

body .pages_page__inner .control.next:after {
    transform: rotate(180deg);
    top: 5px;
    left: 11px;
    pointer-events: none;
}

body .pages_page__inner .control label {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
}

body .pages_page__inner .control:after {
    content: "<";
    display: block;
    font-family: "Font Awesome 4 Free";
    font-weight: 900;
    color: var(--yellow);
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s;
}

body .pages_page__inner .control:before {
    content: "";
    position: absolute;
    display: block;
    width: 32px;
    height: 1px;
    background: var(--yellow);
    top: 50%;
    transform: translateY(-50%);
    left: -32px;
    transition: all 0.2s;
}

body .pages_page__inner .footer {
    position: absolute;
    bottom: 26px;
    z-index: 2;
    color: var(--yellow);
    right: 30px;
    font-size: 12px;
}

body .pages_page__inner .footer i {
    margin: 0 10px;
}

body .pages_page__inner .content {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    top: 0em;
    transform: translateZ(0px);
    width: 100%;
    height: 100%;
}

body .pages_page__inner .content_centerimage {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    text-align: center;
    width: 60%;
    transform: translateY(-50%);
    /* max-width: 1000px; */
}

body .pages_page__inner .content_centerimage img {
    width: 100%;
}

body .pages_page__inner .content_center {
    position: absolute;
    text-align: center;
    width: 390px;
    right: -130px;
    padding-bottom: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
}

body .pages_page__inner .content_center img {
    width: 300px;
}

body .pages_page__inner .content_center .logo {
    font-size: 30px;
}

body .pages_page__inner .content_center h4,
body .pages_page__inner .content_center h6 {
    color: var(--yellow);
    font-size: 38px;
    font-weight: normal;
    margin: 0;
    line-height: 38px;
}

body .pages_page__inner .content_center p {


    color: var(--yellow);
    font-size: 38px;
    font-weight: normal;
    margin: 0;
    line-height: 38px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 15px 20px 29px;
}

body .pages_page__inner .content_center h6 {
    font-size: 20px;
    margin: 0;
    opacity: 0.5;
}

body .pages_page__inner .content_center h6:nth-of-type(2) {
    font-size: 16px;
    margin-top: 10px;
}

body .pages_page__inner .content_center.right {
    right: auto;
    left: -130px;
    -webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
}

body .pages_page__inner .content_picture {
    width: 220px;
    position: absolute;
    left: 50%;
    transform: translateX(-40px);
    top: 305px;

}

body .pages_page__inner .content_picture img {
    width: 90%;
    margin: 0;
    display: inline-block;
    border-radius: 10%;
    background-size: 0.1rem;
}

body .pages_page__inner .content_quote {
    position: absolute;
    left: calc(50% + 2rem);
    bottom: 17em;
    width: 45%;
}

@media screen and (min-width: 1200px) and (max-height: 700px) {
    body .pages_page__inner .content_quote {
        top: 1rem;
    }
}

@media screen and (min-width: 1500px) and (min-height: 750px) {
    body .pages_page__inner .content_quote {
        top: 5rem;
    }
}


body .pages_page__inner .content_quote h4 {
    display: block;
    color: var(--yellow);
    font-size: 2.3em;
    font-weight: normal;
    line-height: 2rem;
    margin-bottom: 9rem;
}

body .pages_page__inner .content_quote h5 span {
    font-family: "Catamaran", sans-serif;
    font-size: 1.5em;
    position: absolute;
    color: white;
    left: 1em;
    top: 7em;
    width: 85%;
    line-height: 3rem;
    opacity: 0.8;
}

body .pages_page__inner .content_quote h5 span.quo:nth-of-type(1) i {
    transform: rotate(180deg);
    left: -2em;
    top: -1em;
    display: block;
    font-style: normal;
    position: relative;
}

body .pages_page__inner .content_offset {
    position: absolute;
    width: 280px;
    top: 260px;
    left: 50%;
    transform: translateX(-350px);
    color: var(--yellow);
}

body .pages_page__inner .content_offset h2,
body .pages_page__inner .content_offset p {
    margin: 0;
}

body .pages_page__inner .content_offset h2 {
    color: var(--yellow);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px 0 8px 0;
}

body .pages_page__inner .content_offset p {
    font-size: 13px;
    line-height: 20px;
    color: var(--yellow);
}

body .pages_page__inner .content h1 {
    /* font-size: 53px; */
    color: var(--yellow);
    text-transform: uppercase;
    padding: 70px;
    margin: 0;
    font-weight: normal;
    /* letter-spacing: -6px; */
    line-height: 51px;
    transform-style: preserve-3d;
}

body .pages_page__inner .content h1 span {
    transform-style: preserve-3d;
    display: inline-block;
}

body .pages input[type=radio]:nth-of-type(2):checked+input+input+div+div {
    pointer-events: all;
    transform: rotateY(-180deg);
    z-index: 10;
    transition: var(--transition);
}

body .pages input[type=radio]:nth-of-type(2):checked+input+input+div+div .control {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}

body .pages input[type=radio]:nth-of-type(2):checked+input+input+div+div+div {
    pointer-events: all;
}

body .pages input[type=radio]:nth-of-type(2):checked+input+input+div {
    pointer-events: none;
    z-index: 9;
}

body .pages input[type=radio]:nth-of-type(2):checked+input+input+div+div+div {
    pointer-events: all;
    transform: rotateY(-180deg);
    z-index: 10;
    transition: var(--transition);
}

body .pages input[type=radio]:nth-of-type(2):checked+input+input+div+div+div .control {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}

body .pages input[type=radio]:nth-of-type(2):checked+input+input+div+div+div+div {
    pointer-events: all;
}

body .pages input[type=radio]:nth-of-type(2):checked+input+input+div+div {
    pointer-events: none;
    z-index: 9;
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div+div {
    pointer-events: all;
    transform: rotateY(-180deg);
    z-index: 10;
    transition: var(--transition);
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div+div .control {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div+div+div {
    pointer-events: all;
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div {
    pointer-events: none;
    z-index: 9;
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div+div+div {
    pointer-events: all;
    transform: rotateY(-180deg);
    z-index: 10;
    transition: var(--transition);
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div+div+div .control {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div+div+div+div {
    pointer-events: all;
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div+div {
    pointer-events: none;
    z-index: 9;
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div+div+div+div {
    pointer-events: all;
    transform: rotateY(-180deg);
    z-index: 10;
    transition: var(--transition);
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div+div+div+div .control {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div+div+div+div+div {
    pointer-events: all;
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div+div+div {
    pointer-events: none;
    z-index: 9;
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div+div+div+div+div {
    pointer-events: all;
    transform: rotateY(-180deg);
    z-index: 10;
    transition: var(--transition);
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div+div+div+div+div .control {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div+div+div+div+div+div {
    pointer-events: all;
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div+div+div+div {
    pointer-events: none;
    z-index: 9;
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div {
    pointer-events: all;
    transform: rotateY(-180deg);
    z-index: 10;
    transition: var(--transition);
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div .control {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div {
    pointer-events: all;
}

body .pages input[type=radio]:nth-of-type(4):checked+div {
    pointer-events: none;
    z-index: 9;
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div {
    pointer-events: all;
    transform: rotateY(-180deg);
    z-index: 10;
    transition: var(--transition);
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div .control {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div {
    pointer-events: all;
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div {
    pointer-events: none;
    z-index: 9;
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div {
    pointer-events: all;
    transform: rotateY(-180deg);
    z-index: 10;
    transition: var(--transition);
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div .control {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div+div {
    pointer-events: all;
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div {
    pointer-events: none;
    z-index: 9;
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div+div {
    pointer-events: all;
    transform: rotateY(-180deg);
    z-index: 10;
    transition: var(--transition);
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div+div .control {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div+div+div {
    pointer-events: all;
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div {
    pointer-events: none;
    z-index: 9;
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div+div+div {
    pointer-events: all;
    transform: rotateY(-180deg);
    z-index: 10;
    transition: var(--transition);
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div+div+div .control {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div+div+div+div {
    pointer-events: all;
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div+div {
    pointer-events: none;
    z-index: 9;
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div+div+div+div {
    pointer-events: all;
    transform: rotateY(-180deg);
    z-index: 10;
    transition: var(--transition);
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div+div+div+div .control {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div+div+div+div+div {
    pointer-events: all;
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div+div+div {
    pointer-events: none;
    z-index: 9;
}




.pages_page .pages_page__inner .content .introduction {
    /* font-size:1.5em; */
    /* font-weight: 300; */
    /* line-height: 2em; */
    height: 100%;
    /* margin-left: 1em; */
    /* margin-bottom: 1em; */
    /* margin-top: 3em; */
    /* background-color: #19f053; */

}

.pages_page .pages_page__inner .content .introduction .intro-name {
    font-size: 3em;
    font-weight: 300;
    height: 0px;
    text-align: center;
    line-height: 0.5em;
    white-space: pre;
    /* margin-top: -0.5em; */
}


@media screen and (max-width: 1536px) and (max-height: 800px) {
    .pages_page .pages_page__inner .content .introduction .intro-name {
        font-size: 3.5em;
        font-weight: 300;
        height: 0px;
        text-align: center;
        line-height: .5em;
        white-space: pre;
    }

}

.pages_page .pages_page__inner .content .introduction .intro-name span {
    font-size: 0.37em;
    color: #c39900;
    height: 10px;
    text-align: center;
}



@media screen and (max-width: 1536px) and (max-height: 800px) {
    .pages_page .pages_page__inner .content .introduction .intro_list {
        margin-top: 2.5em;
        margin-right: 3em;
        font-size: 1.4em;
    }

}

.pages_page .pages_page__inner .content .introduction .intro_list {
    /* white-space: pre-wrap; */
    margin-top: 0em;
    margin-left: 4em;
    margin-right: 3em;
    font-size: 1.3em;
    margin-bottom: -2em;
    line-height: 1.8em;
    color: white;
    opacity: 0.8;
}

.pages_page .pages_page__inner .content .introduction .intro_links {
    margin-top: 3em;
    margin-left: 2.7em;
    /* background-color: #fb00ff; */
}

.pages_page .pages_page__inner .content .introduction .intro_links a {
    color: #ffb028;
    text-decoration: none;
    font-size: 3em;
    margin-left: 1.5em;
    /* background-color: #19f053; */
}


.youtube-link {
    pointer-events: all;
    text-decoration: none;
}

.twitter-link {
    pointer-events: all;
    text-decoration: none;
}

.instagram-link {
    pointer-events: all;
    text-decoration: none;
}

.facebook-link {
    pointer-events: all;
    text-decoration: none;
}

.intro_myth {
    margin-top: 0.3em;
    margin-left: 5em;
    margin-right: 2.8em;
    line-height: 2.1em;
    position: absolute;
}

.EN_intro_title {
    color: var(--yellow);
    font-size: 2.5em;
    font-weight: normal;
    text-align: center;
    line-height: 1.1em;
}

@media screen and (max-width: 1600px) and (max-height: 754.6px) {
    .EN_intro_title {
        margin-top: 1.2em;
        color: var(--yellow);
        font-size: 3em;
        font-weight: normal;
        text-align: center;
        line-height: 0.8em;
    }

    .EN_intro_title span {
        color: #c39900;
        font-size: 0.7em;
        font-weight: normal;
        text-align: center;
    }

    .EN_intro {
        margin-top: 6.5em;
        font-size: 1.4em;
        width: 80%;
        margin-left: 2.5em;
        text-align: left;
        color: rgb(255, 255, 255);
        opacity: 0.8;
    }


    .EN_intro_extend {
        margin-top: 0em;
        margin-left: 9em;
        font-size: 1.4em;
        font-weight: 700;
        color: white;
        opacity: 0.7;
    }


}

@media screen and (max-width: 1280px) and (max-height:672px) {

    .EN_intro {
        font-size: 1.4em;
        width: 90%;
        /* margin-top: -0.3em; */
        margin-top: 6em;
        margin-left: 1.5em;
        text-align: left;
        color: white;
        opacity: 0.7;
    }


    .EN_intro_extend {
        margin-left: 9em;
        font-size: 1.4em;
        font-weight: 700;
        color: white;
        opacity: 0.7;
    }
}


.ID_intro_title {
    position: absolute;
    font-size: 2.3em;
    font-weight: 700;
    /* white-space: pre; */
    top: 0em;
    right: 3em;
}

.ID_intro {
    /* position:absolute; */
    font-size: 1.2em;
    color: white;
    opacity: 0.8;
    margin-right: 1em;
    margin-top: 3.5em;
    line-height: 1.7em;
}


@media screen and (max-width: 1600px) and (max-height: 754.6px) {
    .ID_intro_title {
        position: absolute;
        font-size: 2em;
        font-weight: 700;
        /* white-space: pre; */
        top: 2em;
        left: -2em;
    }

    .ID_intro {
        /* position:absolute; */
        font-size: 1.2em;
        color: white;
        opacity: 0.8;
        margin-left: -2em;
        margin-top: 6.5em;
        line-height: 1.7em;
    }
}