.hololive-footer {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.hololive-footer p {
    margin: 0;
    padding: 10px;
    font-size: 14px;
    color: #ffffff;
}

.hololive-footer a {
    color: #ffffff;
    text-decoration: none;
}

.fa-envelope{
    color: #ffffff;
    margin-left: 1.5em;
    margin-top:0.7em;
    text-decoration: none;
}

.fa-github{
    color: #ffffff;
    margin-left: 1.5em;
    margin-top:1em;
    font-size: 1em;

}

.contact{
    display:flex;
    justify-content: center;
    align-items: center;
    color:#ffffff;
    height:50px;
}

.contact a{
    pointer-events: all;
}