/* intro page */
.intro {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.intro--title {
    position: absolute;
    top: 1.5rem;
    left: 11.5rem;
    z-index: 3;
    font-family: 'Merienda One';
    font-style: normal;
    font-weight: 500;
    font-size: 3em;
    color: #000000;
}

.intro--title--square {
    position: absolute;
    top: 1.5rem;
    left: 7.5rem;
    z-index: 0;
    width: 27rem;
    height: 4.5rem;
    background-color: #e1ff00;
    z-index: 2;
    opacity: 0.5;
}

.cut-corner {
  top:1.2rem;
  left: 8.5rem;
  position: absolute;
  height: 4.5rem;
  width: 27rem;
  border-left: 0.15rem solid black;
  overflow: hidden;
  z-index: 3;
  opacity: 0.3;
}
.cut-corner:after,
.cut-corner:before {
  position: absolute;
  content: '';
  width: calc(100% - 1rem);
  left: 0px;
}
.cut-corner:before {
  height: 20%;
  top: 0px;
  border: 2px solid black;
  border-width: 0.15em 0.3em 0em 0em;
  transform: skew(70deg);
  transform-origin: right bottom;
}
.cut-corner:after {
  height: calc(80% - 0.2em);
  bottom: 0em;
  border: 2px solid black;
  border-width: 0em 0.15em 0.15em 0em;
}
.filled:before, .filled:after {
  background-color: black;
}



